/* General Styling */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
}

img {
  height: 25px;
}

input {
  border: 2px solid #1F1F3D;
  outline: none;
  padding-left: 5px;
}

button {
  background-color: #1F1F3D;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  height: 45px;
  margin: 15px 0 0 0;
  outline: none;
}

button:disabled {
  opacity: 0.6;
  transition: 0.2s;
}

/* Header */

.header-page {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  height: 55px;
  justify-content: space-between;
}

h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 10px;
}

span {
  color: #FFC30C;
}

.div-search {
  display: flex;
  height: 45px;
  padding: 5px;

}

.div-search input {
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
   border-left: none;
   height: 40px;
   padding: 10px;
   width: 300px;
}

.div-search img {
  background-color: #C7D3D8;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 2px solid #1F1F3D;
  border-right: none;
  height: 40px;
  padding: 8px;
  width: 37px;
}

/* Aside */

aside {
  background-color: #587A8A;
  height: 100vh;
  width: 400px;
}

.aside-sect-1 {
  align-items: center;
  border-bottom: 2px solid #3C6577;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  padding-bottom: 21px;
  }

.aside-sect-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
}

.form-input {
  border: 1px solid #1F1F3D;
  height: 45px;
  width: 100%;
}

form div {
  display: flex;
}

label {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.temp-task-list {
  display: flex;
  flex-direction: column;
}

.temp-item {
  color: #ffffff;
  margin: 10px;
}

.img-delete {
  margin-right: 5px;
}

.btn-task {
  background: url('images/plus.svg');
  background-color: #1F1F3D;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 5px solid #1F1F3D;
  height: 45px;
  margin-top: 0;
  width: 49px;
}

.btn-urgent {
  width: 95%;
}

/* Card Section */

.card-area {
  break-inside: avoid;
  column-count: 3;
  column-width: 15em; 
  padding: 10px;
  width: 100%;
}

.todo-list {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  break-inside: avoid;
  color: #1F1F3D;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
  width: 100%;
}

.urgent {
  background-color: #FEE89D;
  border: 2px solid #FCC30C;
}

.header {
  border-bottom: 2px solid #C7D3D8;
  height: 40px;
  padding: 4px 0 4px 12px;
}

article h2 {
  color: #1F1F3D;
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 10px;
}

li {
  display: flex;
  flex-direction: row;
  margin: 5px 0 5px 0;
  padding: 2px;
}

li img {
  height: 25px;
  margin-right: 12px;
}

.active-text {
  font-style: italic;
}

.img-urgent {
  height: 25px;
}

.footer {
  border-top: 2px solid #C7D3D8;
  display: flex;
  height: 53px;
  justify-content: space-between;
}

.footer-urgent {
  border-top: 2px solid #FFC30C;
  display: flex;
  height: 53px;
  justify-content: space-between;
}

.header-urgent {
  border-bottom: 2px solid #FFC30C;
  height: 40px;
  padding: 4px 0 4px 12px;
}

footer div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

p {
  font-size: 10px;
  text-transform: uppercase;
}

.label {
  font-size: 10px;
  text-transform: uppercase; 
}

.label-urgent {
  color: #B23A25;
  font-size: 10px;
  text-transform: uppercase;
}

#todo-prompt,
#urgent-prompt {
  break-inside: avoid;
  font-size: 20px;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}

.active {
  background-color: #EF4A23;
}

/* media queries */

@media (max-width: 735px) {

  main {
    display: flex;
    flex-direction: column;
  }

  aside {
    height: 100%;
    width: 100%;
  }

  .header-page {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 5px;
  }

  .div-search {
    margin-bottom: 10px;
    width: 100%;
  }

  .div-search input {
    width: 100%;
  }

  .btn-urgent {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {

  .card-area {
  width: 100%;
  column-count: 2;
  break-inside: avoid;
  padding: 10px;
  }
}

@media (max-width: 900px) {

  .card-area {
  width: 100%;
  column-count: 1;
  break-inside: avoid;
  padding: 10px;
  }
}
