* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}


/* General Styling */

main {
  display: flex;
  flex-direction: row;
}

img {
  height: 25px;
}

input {
  outline: none;
  border: 2px solid #1F1F3D;
}

button {
  background-color: #1F1F3D;
  color: #ffffff;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-weight: 800;
  font-size: 16px;
  margin: 15px 0 0px 0;
  width: 100%;
  outline: none;
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: 0.2s;
}

/* Header */

.header-page {
  background-color: #1F1F3D;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 10px;
}

span {
  color: #FFC30C;
}

.div-search {
  display: flex;
  height: 45px;
  padding: 5px;

}

.div-search input {
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
   border-left: none;
   height: 40px;
   padding: 10px;
   text-decoration: none;
   width: 300px;
}

.div-search img {
  background-color: #C7D3D8;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 2px solid #1F1F3D;
  border-right: none;
  height: 40px;
  padding: 8px;
  width: 37px;
}

/* Aside */

aside {
  background-color: #587A8A;
  height: 100vh;
  width: 400px;
  display:inline-block;

}

.aside-sect-1 {
  border-bottom: 1 px solid #3C6577;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #3C6577;
  margin-bottom: 4px;
  padding-bottom: 21px;
  }

.aside-sect-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
}

.form-input {
  border: 1px solid #1F1F3D;
  height: 45px;
  width:100%;
}

form div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

label {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.temp-task-list {
  display: flex;
  flex-direction: column;
}

.temp-item {
  color: #ffffff;
  font-size: 16px;
  margin: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.img-delete {
  margin-right: 5px;
}

.btn-task {
  background: url('images/plus.svg');
  background-color: #1F1F3D;
  border: 5px solid #1F1F3D;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  height: 45px;
  margin-top: 0;
  width: 53px;
}

.btn-urgent {
  width: 95%;
}

/* Card Section */

.card-area {
  width: 100%;
  column-width: 15em; 
  column-count: 3;
  break-inside: avoid;
  padding: 10px;
}

.todo-list {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  break-inside: avoid;
  color: #1F1F3D;
  margin-bottom: 10px;
  padding: 10px 0px 0px 0px;
  width: 100%;

}

.urgent {
  background-color: #FEE89D;
  border: 2px solid #FCC30C;
}

.header {
  height: 40px;
  border-bottom: 2px solid #C7D3D8;
  padding: 4px 0 4px 12px;
}

article h2 {
  color: #1F1F3D;
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 10px;
}

li {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 5px 0 5px 0;
}

.active-text {
  font-style: italic;
}

li img {
  margin-right: 12px;
  height: 25px;
}

.img-urgent {
  height: 25px;
}

.footer {
  height: 53px;
  border-top: 2px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
}

.footer-urgent {
  height: 53px;
  border-top: 2px solid #FFC30C;
  display: flex;
  justify-content: space-between;
}

.header-urgent {
  height: 40px;
  border-bottom: 2px solid #FFC30C;
  padding: 4px 0 4px 12px;
}

.div-urgent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.div-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

p {
  font-size: 10px;
  text-transform: uppercase;
}

.label {
  font-size: 10px;
  text-transform: uppercase; 
}

.label-urgent {
  font-size: 10px;
  text-transform: uppercase;
  color: #B23A25;
}

#todo-prompt {
  font-size: 20px;
  margin-top: 10px;
  break-inside: avoid;
}

.hidden {
  visibility: hidden;
  border: none;
}

.active {
  background-color: #EF4A23;
}

/* media queries */

@media (max-width: 735px) {
  main {
    display: flex;
    flex-direction: column;
  }

  aside {
    width: 100%;
    height: 100%;
  }

  .card-area {

  }

  .header-page {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 5px;
  }

  .div-search {
    margin-bottom: 10px;
    width: 100%;
  }

  .div-search input {
    width: 100%;
  }

  .btn-urgent {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .card-area {
  width: 100%;
  column-count: 2;
  break-inside: avoid;
  padding: 10px;
  }
}
@media (max-width: 900px) {
  .card-area {
  width: 100%;
  column-count: 1;
  break-inside: avoid;
  padding: 10px;
}
}
